*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

.container
{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 40px;
}

.content
{
	text-align: center;
}

.content h1
{
	font-size: 95px;
	color: #000;
	margin-bottom: 50px;
}

.content a
{
	font-size: 23px;
	color: #000;
	text-decoration: none;
	border: 2px solid #000;
	padding: 15px 25px;
	border-radius: 50px;
	transition: 0.3s;
}

.content a:hover
{
	background-color: #fff;
	color: #000;
}

.background-clip
{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-aspect-ratio:16/9)
{
	.background-clip
	{
		width: 100%;
		height: auto;
	}

@media (max-aspect-ratio:16/9)
{
	.background-clip
	{
		width: auto;
		height: 100%;
	}
}

#frame
{
	position: center;
	height: 720px;
	width: 600px;
}

.slideshow-frame
{

	position: relative;
	left: 280px;
	max-width: 600px;
	margin: auto;
}

img
{
	width:100%;
	border-radius: 8px;
	border: 3px solid #779ECB;
}

.slide
{
	display:none;
	text-align: center;
}
.prev, .next
{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	color: white;
	border-radius: 5px;
}

.prev
{
	left:10px;
}
.next
{
	right:10px;
}

.fade
{
	animation: fadeEfffect 1s ease-in-out;
}
@keyframes fadeEfffect
{
	from
	{
		opacity: 0.4;
	}
	to
	{
		opacity: 1;
	}
}

.counter-container
{
	text-align: center;
	background-color: transparent;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0,0,0,0);
	z-index: 2;
	width: 500px;
	position: relative;
	right: 1325px;
}

#ymd-counter
{
	font-size: 2.5rem;
	font-weight: bold;
	margin: 1rem 0;
	color: #000;
}

.date-label
{
	font-size: 1rem;
	color: #777;
}